{% extends ':Front:layout.html.twig' %}

{% block title %}{{ 'front.blog' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8 extra-m-bottom">
                {% if posts | length > 0 %}
                    {% for post in posts %}
                        <h2 class="text-center no-m-top c-black">{{ post.name }}</h2>
                        <h5 class="text-center extra-m-bottom c-black">{{ post.publishedAt | date('d/m/Y') }}</h5>
                        <a href="{{ path('front_blog_posts_detail', {year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d'), slug: post.slug}) }}">
                            <img class="img-responsive extra-m-bottom center-block" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('1200xY') }}" alt="{{ post.name }}">
                        </a>
                        <span class="c-black display-block">{{ post.description | truncate(100) | raw }}</span>
                        <a style="font-weight:bold" class="extra-m-bottom display-block" href="{{ path('front_blog_posts_detail', {year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d'), slug: post.slug}) }}">LLEGIR MÉS</a>
                        <hr class="c-black">
                    {% endfor %}
                {% else %}
                    <div style="margin-bottom:200px" class="alert alert-warning" role="alert">
                        <h2 class="no-m-top"><i class="fa fa-warning"></i></h2>
                        <h5>Ho sentim, encara no tenim cap article disponible al blog. Estem treballant per aconseguir-ho el més aviat possible <i class="fa fa-smile-o" aria-hidden="true"></i></h5>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                <div class="extra-m-bottom">
                    <ul class="blog-tags list-unstyled center-block text-center">
                        <li class="title no-p-top">SUBSCRIU-TE</li>
                    </ul>
                    {{ form(blog_form) }}
                    {% if flash is not null %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
                            <i class="fa fa-paper-plane-o"></i> {{ flash | trans }}
                        </div>
                    {% endif %}
                </div>
                {% if tags | length > 0 %}
                    <ul class="extra-m-top blog-tags list-unstyled center-block text-center">
                        <li class="title">CATEGORIES</li>
                        {% for tag in tags %}
                            <li>{{ tag.name }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
