{% extends ':Front:layout.html.twig' %}

{% block title %}{{ 'front.blog' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8 extra-m-bottom">
                {% if posts | length > 0 %}
                    {% for post in posts %}
                        <h2 class="text-center c-black{% if loop.first %} no-m-top{% else %} extra-m-top{% endif %}">{{ post.name }}</h2>
                        <h5 class="text-center extra-m-bottom c-black">{{ post.publishedAt | date('d/m/Y') }}</h5>
                        <a href="{{ path('front_blog_posts_detail', {year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d'), slug: post.slug}) }}">
                            <img class="img-responsive extra-m-bottom center-block" src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('750xY') }}" alt="{{ post.name }}">
                        </a>
                        <span class="c-black display-block">{{ post.description | striptags | truncate(100, true) | raw  }}</span>
                        <a style="font-weight:bold;margin-top:5px;" class="extra-m-bottom display-block" href="{{ path('front_blog_posts_detail', {year: post.publishedAt | date('Y'), month: post.publishedAt | date('m'), day: post.publishedAt | date('d'), slug: post.slug}) }}">LLEGIR MÉS</a>
                        {% if not loop.last %}
                            <hr class="c-black">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div style="margin-bottom:200px;" class="alert alert-warning" role="alert">
                        <h2 class="no-m-top"><i class="fa fa-warning"></i> Ho sentim, encara no tenim cap article disponible aquí</h2>
                        <h4 class="no-m-bottom">Estem treballant per aconseguir-ho el més aviat possible <i class="fa fa-smile-o" aria-hidden="true"></i></h4>
                    </div>
                {% endif %}
                {% include ':Front/includes:paginator_buttons_bar.html.twig' with {pagination: posts} %}
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4">
                {% include ':Front/includes:blog-common-right-column.html.twig' with {form: blog_form, tags: tags} %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom_contact_form %}{% endblock %}
