{% extends ':Front:layout.html.twig' %}

{% block title %}{{ project.name | capitalize }} · {{ 'front.projects' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block top_left_menu %}
    <li class="current"><a style="text-decoration:underline" href="{{ path('front_projects') }}">{{ 'front.projects' | trans | upper }}</a></li>
    <li><a href="{{ path('front_homepage') }}#services">{{ 'front.services' | trans | upper }}</a></li>
    <li><a href="{{ path('front_homepage') }}#about-us">{{ 'front.about' | trans | upper }}</a></li>
{% endblock %}

{% block top_right_menu %}
    <li><a href="{{ path('front_homepage') }}#workspace">{{ 'front.headquarter' | trans | upper }}</a></li>
    <li><a href="{{ path('front_blog_posts_list') }}">{{ 'front.blog' | trans | upper }}</a></li>
    <li><a href="{{ path('front_homepage') }}#contact">{{ 'front.contact' | trans | upper }}</a></li>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row extra-m-bottom">
            <div class="col-xs-1">
                <a href="{{ path('front_project_prev', {slug: project.slug}) }}"><i class="fa fa-5x fa-chevron-left"></i></a>
            </div>
            <div class="col-xs-10">
                <img class="img-responsive thumb" src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('1200xY') }}" alt="{{ project.name }}">
            </div>
            <div class="col-xs-1">
                <a href="{{ path('front_project_next', {slug: project.slug}) }}"><i class="fa fa-5x fa-chevron-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 extra-m-bottom">
                <h1 class="no-m-top c-black">{{ project.name }}</h1>
                {% if project.services | length > 0 %}
                    <h4 class="no-m-top">{{ project.services | join(', ') }}</h4>
                {% endif %}
                <p class="extra-m-top c-black">{{ project.description | raw }}</p>
            </div>
        </div>
    </div>
{% endblock %}
