{% extends 'SonataAdminBundle:CRUD:list_outer_rows_mosaic.html.twig' %}

{% block sonata_mosaic_background %}
    {% if object.imageName is defined %}
        <img src="{{ vich_uploader_asset(object, 'imageFile') | imagine_filter('250xY') }}" alt="{{ object }}">
    {% else %}
        <img src="{{ meta.image }}" alt="Sonata image dummy"/>
    {% endif %}
{% endblock %}

{% block sonata_mosaic_default_view %}
    <span class="mosaic-box-label label label-primary pull-right"><span class="glyphicon {% if object.enabled %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span></span>
{% endblock %}

{% block sonata_mosaic_hover_view %}
    <span class="mosaic-box-label label label-primary pull-right">#{{ object.position }}</span>
    {#{{ meta.description }}#}
{% endblock %}
