<h4 class="no-m-top">NEWSLETTER</h4>
{{ form_start(newsletter_form) }}
    {{ form_row(newsletter_form.email) }}
    {{ form_row(newsletter_form.send) }}
    <br>
    {{ form_row(newsletter_form.captcha) }}
    {{ form_rest(newsletter_form) }}
{{ form_end(newsletter_form) }}

{% if flash is not null %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="fa fa-times"></i></button>
        <i class="fa fa-paper-plane-o"></i> {{ flash | trans }}
    </div>
{% endif %}
