{% spaceless %}
    {{ zurb_ink_styles.add("@HampeZurbInkBundle/Resources/public/css/foundation-for-emails/2/foundation.min.css") }}
    {% block preHtml %}{% endblock %}
    {% inlinestyle %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width"/>
        {% block headStyles %}
            <style type="text/css">
                {% autoescape false %}
                {{ includeStyles(zurb_ink_styles) }}
                {% block aditionalStyles %}
                    {{ zurb_ink_styles.add("@AppBundle/Resources/public/css/mail.css") }}
                {% endblock %}
                {% endautoescape %}
            </style>
        {% endblock %}
    </head>
    {% inky %}
    <body>
    {% block body %}
        <table class="body">
            <tr class="white-background">
                <td class="center" align="center" valign="top">
                    <center>
                        <table class="container">
                            <tbody>
                            <tr class="white-color">
                                <td>
                                    {# Header #}
                                    <table class="row">
                                        <tbody>
                                        <tr>
                                            <th class="vertical-padding">
                                                <a href="{{ url('front_homepage') }}">
                                                    <img style="margin-top:80px;margin-bottom:100px" class="text-center" alt="logo" src="{{ absolute_url(asset('bundles/app/images/logotip-small.png')) }}">
                                                </a>

                                            </th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {# Body #}
                                    {% block content %}{% endblock %}
                                    {# Footer #}
                                    {% block footer %}
                                        <table class="row">
                                            <tbody>
                                            <tr>
                                                <th class="small-12 large-12 columns first last">
                                                    <table>
                                                        <tr>
                                                            <th>&#xA0;</th>
                                                            <th class="expander"></th>
                                                        </tr>
                                                    </table>
                                                </th>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table class="row">
                                            <tbody>
                                            <th class="small-6 large-6 columns first vertical-padding">
                                                <table>
                                                    <tr>
                                                        <th>
                                                            <a href="https://www.facebook.com/tuijodissenygrafic/">
                                                                <img style="display:inline-block;width:45px;margin-right:10px" alt="facebook logo" src="{{ absolute_url(asset('bundles/app/images/icon-facebook.png')) }}">
                                                            </a>
                                                            <a href="https://www.instagram.com/tujo_disseny/">
                                                                <img style="display:inline-block;width:45px;margin-right:10px" alt="instagram logo" src="{{ absolute_url(asset('bundles/app/images/icon-instagram.png')) }}">
                                                            </a>
                                                            <a href="https://es.pinterest.com/tujodisseny/">
                                                                <img style="display:inline-block;width:45px" alt="pinterest logo" src="{{ absolute_url(asset('bundles/app/images/icon-pinterest.png')) }}">
                                                            </a>
                                                        </th>
                                                        <th class="expander"></th>
                                                    </tr>
                                                </table>
                                            </th>
                                            <th class="small-6 large-6 columns last vertical-padding">
                                                <table>
                                                    <tr>
                                                        <th>
                                                            <p>
                                                                C. CAMPOAMOR, 20<br>
                                                                43870 AMPOSTA<br><br>
                                                                T. 977 071 895
                                                            </p>
                                                        </th>
                                                        <th class="expander"></th>
                                                    </tr>
                                                </table>
                                            </th>
                                            </tbody>
                                        </table>
                                    {% endblock %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
        {#<!-- prevent Gmail on iOS font size manipulation -->#}
        <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    {% endblock %}
    </body>
    {% endinky %}
    </html>
    {% endinlinestyle %}
{% endspaceless %}

