{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block navbar %}
    {% embed '@MopaBootstrap/Navbar/navbar.html.twig' with { fixedTop: false } %}
        {% block brand %}
            <a class="navbar-brand" href="{{ path('front_homepage') }}"><img src="{{ asset('bundles/app/images/logotip-fons-2.png') | imagine_filter('60x60') }}" alt="{{ main_brand_title }}"/></a>
        {% endblock %}
        {% block menu %}
            {{ mopa_bootstrap_menu('AppBundle:MenuBuilder:frontendMenu', { automenu: 'navbar' }) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block title %}{{ main_brand_title }}{% endblock %}

{% block head_style %}
    {% stylesheets filter="cssrewrite,less"
    '@mycss'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock head_style %}

{% block foot_script_assetic %}
    {% javascripts
    '@myjs'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block headline %}{{ main_brand_title }}{% endblock headline %}

{% block footer %}
    <p>&copy; {{ 'now' | date('Y') }} {{ main_brand_title }}</p>
{% endblock footer %}
