{% extends ':Front:layout.html.twig' %}

{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}

{% block title %}{{ 'front.projects' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block headline %}{{ 'front.projects' | trans | capitalize }}{% endblock headline %}

{% block content %}
    <div class="col-xs-12">
        {% for project in projects %}
            <ul class="list-group">
                <li class="list-group-item">
                    {{ badge(project.services | length) }}
                    {{ label(project) }}
                    {% for service in project.services if service.enabled %}
                        <p>{{ service }}</p>
                    {% endfor %}
                </li>
            </ul>
        {% endfor %}
    </div>
{% endblock %}
