{% extends ':Front:layout.html.twig' %}

{% block title %}{{ 'front.projects' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block main %}
    <div class="col-xs-12">
        {% for project in projects %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ vich_uploader_asset(project, 'imageFile') | imagine_filter('60x60') }}" alt="{{ project.name }}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">{{ project.name }}<span class="pull-right"></span></h4>
                            <p>{{ project.description }}</p>
                        </div>
                    </div>
                    <hr/>
                    <h5>{{ 'front.services' | trans | capitalize }}</h5>
                    <ul>
                        {% for service in project.services if service.enabled %}
                            <li>{{ service.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
