{% extends ':Front:layout.html.twig' %}

{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}

{% block title %}{{ 'front.services' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block headline %}{{ 'front.services' | trans | capitalize }}{% endblock headline %}

{% block content %}
    {% for category in categories %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ badge(category.services | length) }}
                {{ label(category) }}
                {% for service in category.services if service.enabled %}
                    <p>{{ service }}</p>
                {% endfor %}
            </li>
        </ul>
    {% endfor %}
{% endblock %}
