{% extends ':Front:layout.html.twig' %}

{% from 'MopaBootstrapBundle::macros.html.twig' import label, badge %}

{% block title %}{{ 'front.services' | trans | capitalize }} · {{ parent() }}{% endblock %}

{% block headline %}{{ 'front.services' | trans | capitalize }}{% endblock headline %}

{% block content %}
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                {##{{ badge(category.services | length) }}#}
                {{ category }}
                <ul class="list-group">
                    {% for service in category.services if service.enabled %}
                        <li class="list-group-item">{{ service }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
